<div class="authform">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  class: "form", html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    
       <div class="field form-group">
       	<h2>Estas de Acuerdo con la ley de herencia?</h2>
       	
      <br><br>Si estoy de acuerdo<br/>
      <%= f.radio_button(:vote, "1") %>
      <br>No estoy de acuerdo<br/>
      <%= f.radio_button(:vote, "0") %>
      
    </div>

    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-inverse btn-lg btn-login' %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
