
     <div class="container"><h2>Encuesta ley de herencia<h2></div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Posicion', 'Numero'],
          ['A Favor',     <%= @favor %> ],
          ['En Contra',     <%= @contra %> ],
        ]);

        var options = {
          title: 'Que opinas sobre la Ley de Herencia?',
          is3D: true,
          chartArea:{width:'100%',height:'100%'},
          fontSize:20
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
      <script type="text/javascript">
          $(window).resize(function(){
  drawChart();
});    </script>
    
  

<div class="hero-unit">


  <div class="container">
    <h1><div id="piechart" style="width: 100%;"></div></h1>
    <p class="lead">
    	Encuestados <%= @total %> <br>
    	Favor <%= @favor %> <br>
    	Contra <%= @contra %> <br>

    	
   
     
      
    </p>
  </div>
</div>
<div class="container-fluid">
  <div class="selling-points row">
    <div class="point col-md-4">
      <h2>Seguridad </h2>
      <p>
        Cada usuario debe registrarse por facebook, cada cuenta de facebook en Ecuador tiene 1 voto.<br>
        La informacion es encryptada, segura, y manejada mediante Devise y OmniAuth en server Heroku<br>
        Los resultados son visibles en-vivo, da tu opinion y observa el cambio!
        
      </p>
    </div>
    <div class="point col-md-4">
      <h2>Objetivo</h2>
      <p>
        Crear un medio de encuesta usando medios sociales masivos independiente de cualquier influencia politica y completamente transparente. Simplemente buscamos la verdad y la expresion.
         
        </p>
    </div>
    <div class="point col-md-4">
      <h2>Transparencia</h2>
      <p>
        Cualquier pregunta o duda contactarse con mcevans@stanford.edu
      </p>
    </div>
  </div>
</div>
