<!DOCTYPE html>
<html>
<head>
	  <meta property="og:url"                content="https://ensocecuador.herokuapp.com/" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Encuesta Social Ecuador" />
<meta property="og:description"        content="Una encuesta segura, clara y transparente para dar voz a los ecuatoriano" />
<meta property="fb:app_id"        content="1619695788277680" />
<meta property="og:image" content="/images/Social-media-communication.png"
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Encuesta Social Ecuador</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class='<%= controller.controller_name %>'>
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1619695788277680',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <%= render 'layouts/navigation' %>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
